<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    ul li {
      text-decoration: none;
      color:blue
    }
    ul li:hover{
      color:red;
    }
  </style>
</head>
<body>
  <header>
    <h2><%=admin%></h2>
  </header>
  <main class="main">
    <div class="content">
      <ul>
        <%for(let item of newslistArr){%>
          <li>
            <a href="news/detail?aid=<%=item.aid%>">
              <%=item.title%>
            </a>
            <span class="date-time">时间：
              <%=helper.formatTime(item.dateline)%>
            </span>
          </li>
        <%}%>
      </ul>
    </div>
  </main>
</body>
</html>